/.idea
/.vs
/.vscode

/[Tt]emp
/[Uu]ser[Ss]ettings
/[Pp]roject[Ss]ettings
/[Pp]ackages
/[Oo]bj
/[Oo]bjs
/[Ll]ogs
/[Ll]ibrary
/[Ll]ibraries
/[Bb]uild
/[Bb]uilds

*.tmp
*.sln
*.csproj
*.csproj.DotSettings
*.sln.DotSettings.user

*.apk
*.aab
